<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.LabSystem.mapper.ContactMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jack.LabSystem.model.entity.Contact">
        <id column="Contactid" property="contactid" />
        <result column="workphone" property="workphone" />
        <result column="mobilephone" property="mobilephone" />
        <result column="email" property="email" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Contactid, workphone, mobilephone, email
    </sql>

</mapper>
