<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.LabSystem.mapper.OfficespaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jack.LabSystem.model.entity.Officespace">
        <id column="Spacename" property="spacename" />
        <id column="Labid" property="labid" />
        <result column="area" property="area" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Spacename, Labid, area, address
    </sql>

</mapper>
